version: "3.9"
services:
  goshellcommander:
    container_name: goshellcommander
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    environment:
      - TOKENS=${TOKENS}
      - PORT=${PORT}
      - GIN_MODE=${GIN_MODE}
    ports:
      - ${PORT}:${PORT}
    volumes:
      - ./logs:/logs
    